@import "_variables";

.footer{
    background-color: #fff;
    &-container{
        padding: 50px 90px 50px 150px;
        box-sizing: border-box;
        & p{
            font-size: 18px;
            color: $paragraph-color;
            font-weight: 400;
            margin-bottom: 30px;
        }
        &-links{
            width: 80%;
            margin-bottom: 50px;
            & a{
                font-size: 18px;
                color: $paragraph-color;
                font-weight: 400;
            }
        }
        &-social{
            width: 100%;
            gap: 10px;
            justify-content: flex-start;
            &-media{
                width: 59px;
                height: 59px;
                border-radius: 10px;
                background-color: #edeff4;
                justify-content: center;
                align-items:center;
            }
        }
    }
}
@media(max-width:600px){
    .footer{
        &-container{
            &-social{
                &-media{
                    width: 40px;
                    height: 40px;
                    & img{
                        width: 20px;
                        height: 22px;
                    }
                }
            }
        }
    }
}
@media(max-width:500px){
    .footer{
        &-container{
            & p{
                font-size: 15px;
            }
            padding: 50px 20px 20px 80px;
            &-links{
                & a{
                    font-size: 15px;
                }
                & ul{
                    gap: 10px;
                }
            }
        }
    }
}